.container {
    margin: auto;
    text-align: center;
    width: 90vw;
    padding: 30px;
    box-shadow: 5px 5px 10px var(--shadow-strong);
    border-radius: 30px;
    margin-bottom: 10vh;
}

@media (min-width: 768px) {
    .container {
        width: 600px;
        padding: 60px;
    }
}
