.container {
    width: 600px;
    margin: 45px auto;
    position: relative;
}

.image {
    border-radius: 30px;
    box-shadow: 5px 5px 10px var(--shadow-strong);
    display: block;
    max-width: 100%;
}

.box {
    position: absolute;
    border: 3px dashed #fff;
}
